<h1>
  {{title}}
</h1>
<accordion>
  <accordion-group heading="People">
    <app-person-form ></app-person-form>
  </accordion-group>
  <accordion-group heading="Departments">
    <app-department-form></app-department-form>
  </accordion-group>
  <accordion-group heading="Rates">
    <app-rate-form></app-rate-form>
  </accordion-group>
  <accordion-group heading="Projections">
    <app-projection-form></app-projection-form>
  </accordion-group>
  <accordion-group heading="Projects">
    <app-project-form></app-project-form>
  </accordion-group>
  <accordion-group heading="Portfolios">
  <app-portfolio-form></app-portfolio-form>
  </accordion-group>
  <accordion-group heading="Actuals">
    <app-actual-form></app-actual-form>
  </accordion-group>
</accordion>
<app-reports></app-reports>

